.header {
  min-height: 160px;
  position: relative;
  font-family: $header-font-family;

  h1 {
    text-align: center;
  }
}

.cv {
  .cv-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 54em;
    padding: 0 2rem;
  }

  .cv-entry {
    h3 {
      color: $black;
    }
    padding: 0 1.2em;
    border-left: 2px solid $gainsboro;
  }

  .footer {
    text-align: center;
    font-style: italic;
  }
}
