.header {
  min-height: 8rem;
  position: relative;
  font-family: $header-font-family;

  h1 {
    text-align: center;
  }

  .contact {
    margin-left: auto;
    margin-right: auto;
    max-width: 53rem;
    padding: 0 2rem;
    text-align: center;
    li {
      display: inline;
      padding-right: 2rem;
    }
  }
}

@mixin right-side-float {
  font-style: italic;
  float: right;
  padding-right: 0.5rem;
  color: $steel;
}

.cv {
  .cv-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 53rem;
    padding: 0 2rem;
  }

  .cv-entry {
    margin-left: 1rem;
    padding: 0 1rem;
    border-left: 2px solid $gainsboro;

    h3, h4 {
      color: $black;
      font-family: $font-family-sans-serif;
    }

    .title {
      width: 100%;
      padding-bottom: 0.75rem;
      h3, h4 {
        margin-top: 0;
        margin-bottom: 0;
      }
      .location {
        @include right-side-float;
      }
      .duration {
        h3 {
          @include right-side-float;
        }
      }
    }
    .synopsis {
      p {
        margin-bottom: 0.65rem;
      }
    }

    .additional {
      ul {
        margin-bottom: 0.75rem;
      }
      ul, p {
        padding-left: 1rem;
      }
      h4 {
        font-weight: bold;
        font-variant: small-caps;
        margin-bottom: 0.3rem;
      }
    }
  }

  .footer {
    text-align: center;
    font-style: italic;
  }
}
