.header {
  min-height: 4rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: rem-calc(18);
}

h3 {
  font-size: rem-calc(16);
}

h3 {
  font-size: rem-calc(12);
}

p, li {
  font-size: rem-calc(13);
}

.footer {
  p {
    font-size: rem-calc(10);
  }
}
