@media print {
  // these aren't getting applied.
  $h1-font-size: rem-calc(12);
  $h2-font-size: rem-calc(8);
  $h3-font-size: rem-calc(8);
  $h4-font-size: rem-calc(8);
  $h5-font-size: rem-calc(8);
  $h6-font-size: 1rem;

  $font-family-serif: $font-family-sans-serif;

}
