---
title: Dave Liggat
---

<div class="resume">
  <div class="header">
    <div class="name">
      Dave Liggat
    </div>

  </div>
  <div class="resume-body">

    <h1>Introduction</h1>
    <p>My name is Dave Liggat</p>

    <h1>Professional Experience</h1>
    <p>I've worked in various</p>
  </div>
</div>
